# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Project Results
results/
*.pkl
!plugin.json
!manifest.json
*.png
*.pdf
CLAUDE.md
.claude/